!!!
%html{:xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title= @title
    = stylesheet_link_tag "css/application.css"
    
  %body
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false
    
    = javascript_script_tag "javascript/jquery-1.7.1.min.js", "javascript/application.js"
